{{!-- <div class="banner">  
  <img src="assets/img/bobsBurgers.png">
</div> --}}

<nav class="nav navbar">

  
</nav>

<div class="content">
  <div>
    <h2>Articles</h2>
      {{#each newsArticles}}
          <div class="menu">
          <h1> hi </h1>
            <p> {{this.title}}. {{this.link}} </p>
 {{!--            <form action="burgers/update/{{this.id}}?_method=PUT" method="POST" id="offMenu">
              <input type="hidden" name="devoured" value="false">
              <button type="submit" class="btn btn-info">Order It!</button>
            </form> --}}
          </div>  
      {{/each}}
  </div>{{!-- 

  <div class="bottom-well">
    <h2>Add a Burger to the Menu</h2>
    <form class="create-update-form" action="burgers/create" method="POST">

      <div class="form-group">
        <label for="burgerInput">Burger Name:</label>
        <input type="text" id="burgerInput" name="name">
        <input type="hidden" name="devoured" value="false">
        <button type="submit" class="btn btn-info">Add Burger</button>
      </div>

      
    </form>
  </div>

    <div class="right-well">
    <h2>Burger Order</h2>

  
      {{#each burgers}}
        {{#if this.devoured}}
          <div class="order">
            <p> #{{this.id}} . {{this.burger_name}} </p>
            <form action="burgers/delete/{{this.id}}?_method=DELETE" method="POST" id="offOrder">
              <button type="submit" class="btn btn-info"> Take Off My Order</button>
            </form>
            
          </div>
        {{/if}}
      {{/each}}
    
  </div>
</div> --}}
<footer>
  <p>&copy; copyright Tasha and Bobs Burgers</p>
</footer>



